<div class="center hero-unit">
  <h1>Welcome to the Teeny Tiny Toy Shop Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Open 24/7 Please Come in!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("mushroom-shop.png", alt: "mushroom-shop") %>

